.hero {
  @media (max-width: 1400px) {
    .swiper .swiper-slide {
      height: 580px;
    }
    &__block {
      top: -444px;
    }

  }

  @media (max-width: 992px) {
    .swiper .swiper-slide {
      height: 484px;
    }
    &__block {
      top: -400px;
    }

  }
  @media (max-width: 768px) {
    .container {
      padding-top: 10px;
    }
    &__block {
      top: -450px;
      width: 100%;
    }
    &__inner {
      width: 100%;
    }
  }
  @media (max-width: 576px) {

    &__block {
      top: -400px;

      &-title {
        font-size: 24px;
        line-height: 31px;
      }

      &-subtitle {
        font-size: 16px;
      }

      .button-main {
        padding: 8px 24px;
        font-size: 14px;
      }
    }
  }
}

