.post {
  margin-bottom: 60px;

  &__inner {
    padding-top: 10px;
    display: flex;
    gap: 10px;
  }

  &__flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 28px 20px;
  }

  &__box {
    width: 48.5%;
    cursor: pointer;


    &-title-link {
      color: inherit;
    }

    &-title-link:hover {
      color: #0B7AB3;
    }

    &-title {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 12px;
    }

    &-text {
      margin-bottom: 12px;
      line-height: 22px;
      text-align: left;
      height: 66px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    img {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &__search {
    margin-top: 68px;
    max-width: 384px;
  }


  .search-form {
    margin-bottom: 12px;

    &-txt {
      font-family: "Nunito Sans", sans-serif;
      background: inherit;
      font-size: 16px;
      font-weight: bold;
    }
  }
}