//:root {
//  --bs-link-color: black;
//}

//.header .navbar-expand-lg .navbar-nav .nav-link {
//  --bs-navbar-nav-link-padding-y: 16px;
//  --bs-navbar-nav-link-padding-x: 16px;
//}



$font-family-main: 'Nunito Sans', sans-serif;
$font-family-buttom: 'Inter';

//$font-title: 28px;
//$font-xll: 55px;
//$font-xl: 44px;
//$font-lgg: 28px;
//$font-lg: 22px;
//$font-md: 18px;
//$font-sm: 17px;
//$font-xs: 16px;

$color-first: #1C1C1C;
$color-second: #3C2000;
$color-three: rgba(253, 183, 79, 0.2);
$color-four: #E66E00;
$color-five: #0B7AB3;

$color-six: #F5F5F5;




