.header {
  @media (max-width: 992px) {
    .hidden-table {
      display: none;
    }
    .menu-button {
      display: block;
    }
    .menu-mob {
      .nav-link {
        justify-content: space-between;
      }

      .dropdown-content {
        width: 100%;
      }

    }
  }

  .search {
    @media (max-width: 992px) {
      &__inner {
        display: block;
        background: white;
      }
    }
  }

  @media (max-width: 576px) {
    &__search {
      padding-top: 60px;
    }
    &__logo-img {
      height: 45px;
    }

    .hidden-mob {
      display: none;
    }
  }


}

